header h1 {
	background-color:  #34495E;
	padding: 15px;
	color:#ffffff;
	text-align: center;
	font-size: 150%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}
/* typographie */

body{
	background-color: #fff;
}
#container{
	position: relative;
	margin: auto;
	width: 990px;
	height: auto;
}

/* form */
.form-bg
{
	width:50%; 
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	background-color: #ECF0F1;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
}
.form-bg h2
{
	font-size: 150%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight: bold;
	color: #232323;
	padding-top:25px; 
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-bg input[type="text"], .form-bg input[type="password"],  
.form-bg input[type="email"], .form-bg textarea{
    border: 1px solid #CCC;
    height: 20px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-top: 2px;
    margin-left: auto;
    background-color: #fff;
    padding: 6px 12px;
    width: 70%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
	input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
		box-shadow: 0px 0px 0px 2px #16A085;
		border:1px solid #16A085;
	}
.form-bg label
{
 	font-size: 100%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight: bold;
	color: #232323;
	padding-top:25px; 
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-bg #radioboxes
{
	margin: 15px;
}
.form-bg .rol
{
	font-size: 75%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	margin: 5px;
	font-weight:normal;
}


.form-bg #button
{
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 20%;
	color:#fff;
	background-color: #34495E;
	margin-bottom: 35px;
	font-size: 100%;
}
.form-bg #button:hover
{
	background-color: #3B6775;
}
.form-bg a
{
	color: #3498DB;
	margin-left: 200px;
	margin-right: 10px;
}
.form-bg a:hover
{
	color: #16A085;
	margin-left: 200px;
	margin-right: 10px;
}
.form-bg #login
{
	color: #3498DB;
	margin-left: 225px;
	margin-right: 10px;
}
.form-bg #login:hover
{
	color: #16A085;
	margin-left: 225px;
	margin-right: 10px;
}




/*   lijst drukken  */
#sortable_list
{
	list-style: none;
	margin: 0;
	padding: 0;
	font: 11px Arial, Helvetic, Geneva, sans-serif;
	float: left;
}

#sortable_list li.header div
{
	background-color:  #ccc;
	font-weight: bold;
	cursor: default;
}

#sortable_list li div
{
	display: block;
	float: left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px;
}

#sortable_list li div.listitem_Tafelnummer{width: 150px; border-left: 1px solid #ccc;}
#sortable_list li div.listitem_Plaatsen{width: 300px;}
#sortable_list li div.listitem_Status{width: 250px;}

.clearfix {	
	float: left;
}

/* navigatie */ 
nav{
	background-color:  #34495E;
	padding: 15px;
	color:#ffffff;
	font-size: 100%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight: bold;
}
nav li {
	display: inline;
	padding: 15px;

}
nav li a{
	color: #ffffff;
	text-decoration: none;

}
.active
{
	color: #ffffff;
	background-color: #2ECC71;
}
nav li a:hover
{
	color: #16A085;
}

#logout
{
	color: #ffffff;
	margin-top: -35px;
	margin-right: 50px; 
	float: right;
}
#logout:hover
{
	color:#2ECC71; 
}
nav li #logout
{
	color: #ffffff;
	margin-top: 0px;
	margin-right: 50px; 
	float: right;
}
nav li #logout:hover
{
	color:#2ECC71; 
}

/* home */

.collum_1
{
float: left;
width: 50%;
margin-top: 15px;
}
.collum_1 .sectie_1
{
padding: 15px;
margin: 15px;
background-color: #ECF0F1;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.collum_1 .sectie_2
{
padding: 15px;
margin: 15px;
background-color: #ECF0F1;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.collum_2
{
	float: right;
	width: 50%;
	margin-top: 30px;
}
.collum_2 .sectie_1
{
	overflow: auto;
	overflow-y: hidden;
}

/* opmaak sectie_2 */
.dag
{
margin: 8px 0px 8px 0px;
}
.dag label
{
	font-size: 75%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight:normal;
}
.dag .daglabel
{
	font-size: 75%;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-weight:bold;
}
.dag p
{
	text-align: center;
	margin: 10px;
}
.dag p label
{
	margin: 10px;
}
.form-reg #aanmaken
{
	margin-left: 300px;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 20%;
	color:#fff;
	background-color: #34495E;
	font-size: 75%;
}
.sectie_2 #aanmaken:hover
{
	background-color: #3B6775;
}
.form-reg input[type="text"], .form-reg textarea
{
    border: 1px solid #CCC;
    height: 30px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-top: 2px;
    margin-left: auto;
    background-color: #fff;
    padding: 6px 12px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-reg textarea
{
	height: 130px;
	resize:none;
	overflow:auto;	
}
.form-reg input[type="time"]
{
	border: 1px solid #CCC;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
	.form-reg input[type="text"]:focus , .form-reg textarea:focus, 
	.form-reg input[type="time"]:focus {
		box-shadow: 0px 0px 0px 2px #16A085;
		border:1px solid #16A085;
	}